.home{
	background-image: url("../assets/bgHome.jpg");
	background-repeat:no-repeat;
	height: calc(100vh - 70px);
	display: flex;
	justify-content: center;
	align-items: center;
}

h1{
	color: #fff;
	font-weight: 900;
	font-size: 6rem;
}

span{
	color: #EB7E09;
}